html, body { 
	height: 100%; 
}

.perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.current-page,
.no-js .page {
	visibility: visible;
	z-index: 1;
}

.page-1 {
	background-image: linear-gradient(to top,#fab9e8, #a6c1ee);
	overflow: hidden;
}

.page-2 {
	background-image: linear-gradient(to top,#fab9e8, #a6c1ee);
	overflow: scroll;
}
.page-2::-webkit-scrollbar { 
    width: 8px; 
} 
.page-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.page-2::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: white; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.page-3 {
	background-image: linear-gradient(to top,#fab9e8, #a6c1ee);
	overflow: scroll;
}
.page-3::-webkit-scrollbar { 
    width: 8px; 
} 
.page-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.page-3::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: white; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.lNavigation {
	position: absolute;
	width: 300px;
	z-index: 999999;
	top: 20%;
	left: 100%;
	margin-top: 130px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}
.rNavigation {
	position: absolute;
	width: 300px;
	z-index: 999999;
	top: 20%;
	left: 15%;
	margin-top: 130px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}

.arrow-button {
	border: none;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0px 20px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	font-family: 'HP Simplified';
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.arrow-button {
	background: #fff;
	color: #aaa;
}

.lNavigation button {
	margin-bottom: 0;
}

.arrow-button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}